
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    {% comment "Load your css like so" %}
      <link rel="stylesheet" type="text/css" href="App.css">
    {% endcomment %}


    <title>Hello, world!</title>
  </head>
  <body>
    <div className="leftsideheadings">

      <div className="container" >
         <div className="col-lg-6 ">
      <div className="img">
           <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-xEDFFQERUqeD4YY6IcUW8w8nnJg3wLPfo03-mClx6mDCjsN0"/>
       </div>
         </div>
       <div className="col-lg-6 ">    
       <div className="rightsideheadings" >Member Login</div>
       {% comment "Below is an example of how you might render your Angular/React/Vue front-end framework code" %}
       <script src="App.js"></script>
   {% endcomment %}

       </div>
    </div>	
    </div>
     <!-- Your FrontEnd JS Code -->
     



  </body>
</html>

